<%= form_tag search_path, :method => :get do %>
  <%= text_field_tag :search, params[:search], :class => "search-field" %>
  <div class="search-btn">
    <%= submit_tag "Search Spindex", :name => nil, :id => "click-search-button", :class => "btn search-btn"%>
  </div>
<% end %>
