
<h1>Search Results</h1>
<% if @artists.any? %>
  <ul>
    <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist_path(artist) %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if @albums.any? %>
  <h1>Matching Albums</h1>
  <% @albums.each do |album| %>
    <br>
    <%= link_to album.name, album_path(album) %>
  <% end %>
<% end %>

<% if (@artists.empty?) && (@albums.empty?) %> <!--how to type in nothing and this comes up -->
<script type="text/javascript">
$(window).load(function(){
    $('#create-artist').modal('show');
});
</script>
<h2> This artist doesn't exist in our database -- would you like to create their page?</h2>
<%= render "artists/form" %>

<%= render "search/createArtist" %>

  <% end %>
<!-- Left off where I need to create a modal/popupup when the above result it returned and they click create/ok on a hidden field to send this information in -->


