<h1 class ="text-center">Search Results</h1>
<% if @artists.any? %>
  <h1 style="text-align:center; font-size:2em;">Artists</h1>
  <ul id="artist-list">
    <% @artists.each do |artist| %>
    <li style="font-size:2em;">

      <%= link_to artist.name, artist_path(artist) %>
    </li>
    <br>
  <% end %>
  </ul>
<% end %>

<% if @albums.any? %>
  <h1 style="text-align:center;">Matching Albums</h1>
  <% @albums.each do |album| %>
    <br>
    <%= link_to album.name, album_path(album) %>
  <% end %>
<% end %>

<% if (@artists.empty?) && (@albums.empty?) %> <!--how to type in nothing and this comes up -->
  <script type="text/javascript">
  $(window).load(function(){
      $('#create-artist').modal('show');
  });
  </script>
  <div>
    <div id ="shruggie">
      <br />
      <br />
      <br />
      ¯\_(ツ)_/¯
    </div>
  </div>

  <%= render "artists/form" %>
<% end %>



