<div class="container marketing contact-page">
  <div class="contact-heading">
    <h1 id="contact-title">The Team</h1>
    <p class="text-center">Meet the team that brought you Muzaik!</p>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag("steve.jpg", :alt => "Steve", :class => "img-circle")%>
      <h2>Fuzz Worley</h2>
      <p class="about-me">Stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff. Ditto.</p>
      <p><a class="btn btn-default" href="#" role="button">Learn More »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag("amy.jpg", :alt => "Amy", :class => "img-circle")%>
      <h2>Amy Dusek</h2>
      <p class="about-me">Amy is an enthusiastic web developer, coding her way through websites and applications with her ever-growing agile development skills. She is eagerly looking to join an ambitious team, so if you're interested, please click below to contact me!</p>
      <p><a class="btn btn-default" href="http://amydusek.co" role="button">Learn More »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag("kevin.jpg", :alt => "Kevin", :class => "img-circle")%>
      <h2>Kevin Ridge</h2>
      <p class="about-me">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">Learn More »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
