<div class="container marketing contact-page">
  <div class="contact-heading">
    <h1 id="contact-title">The Team</h1>
    <p class="text-center">Meet the team that brought you Muzaik!</p>
  </div>
  <div class="row color">
    <div class="col-lg-4">
      <%= image_tag("steve.jpg", :alt => "Steve", :class => "img-circle")%>
      <h2>Steven Worley</h2>
      <p class="about-me">Steven is a web software developer with a passion for creative problem solving. He is excited to be entering the development community and eagerly seeking employment.</p>
      <p><a class="btn btn-default" href="#" role="button">Learn More »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag("amy.jpg", :alt => "Amy", :class => "img-circle")%>
      <h2>Amy Dusek</h2>
      <p class="about-me">Amy is an enthusiastic full stack web developer, coding her way through websites and applications with her ever-growing agile development skills. She is eagerly looking to join an ambitious team, so if you're interested, please click below to contact her!</p>
      <p><a class="btn btn-default" href="http://amydusek.co" role="button">Learn More »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag("kevin.jpg", :alt => "Kevin", :class => "img-circle")%>
      <h2>Kevin Ridge</h2>
      <p class="about-me">Kevin is a creative Rails developer eager to witness the growth of the tech industry in Miami. He is passionate about expanding and perfecting his abilities in web development and about exploring new ideas through code.</p>
      <p><a class="btn btn-default" href="#" role="button">Learn More »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
