/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require ratings
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
 /************************************************************************************
 General Application Styling
 ************************************************************************************/
* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
}
p {
  font-size: 1.25em;
  line-height: normal;
}
.artist-name {
  min-height: 500px;
}
a {
  color: grey;
}
a:active {
  text-decoration: none;
  color: white;
}
nav ul {
  list-style: none;
  color: white;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: white;
  display: inline-block;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: white;
}
.about-us-main a:hover {
  color: black;
}
i {
  color: grey;
}
img {
  height: 250px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
input {
  color: black;
}

/* Left-Navbar Styling*/
ul.nav.navbar-nav.side-nav {
  display: table-row;
}
ul.nav.navbar-nav.side-nav li {
  display: block;
  margin: 2.5em;
  width: 100%;
}
ul.nav.navbar-nav.side-nav li:hover {
  background-color: #222;
}
#sign-up-p {
  margin: 0;
  color: #9d9d9d;
}
#sign-up-p a {
  color: white;
}

/*Star Rating Size*/
div.star {
  text-align: center;
}
div.star img {
  height: 18px;
}
.star {
  background-color: rgba(34, 34, 34, 1);
}
#login {
  margin: 0 0 0 auto;
}
.col-md-2 {
  padding-left: 0;
}
.notice h3 {
  text-align: center;
}
.fa {
  font-size: 1.6em;
  display: inline-block;
  cursor: pointer;
}
.raty-cancel {
  display: none;
}
i.accordion_icon.fa.fa-plus {
  font-size: 1em;
}
.logo {
  width: 225px;
}

/************************************************************************************
Artist Styling
************************************************************************************/
html,
#page-wrapper {
  background-image: url("white.jpg");
  background-attachment: fixed;
  min-height: 100%;
}
.artist-image {
  float: left;
  margin: 0 1em 1em 0;
}
.admin-links {
  font-size: .5em;
}
.admin-links span {
  text-align: right;
}
.artist-name h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 8em;
}
#bio {
  margin: 9em 0 0 0;
  padding: 2em;
  border-top: 3px solid black;
}
#bio img {
  border: 2px solid black;
  min-height: 335px;
}
.col-md-4 h2,
.col-md-4 p {
  text-align: center;
}
.artist-name {
  padding-bottom: 3em;
}
.accordion_title {
  border: 1px solid grey;
}
#albums {
  display: none;
  margin-top: 8em;
}
#albums p {
  text-align: center;
}
#album-photo img {
  display: block;
  margin: 0 auto;
  border-radius: 8%;
}
.track-list {
  margin: 1em 0;
  text-align: center;
  list-style-position: inside;
}

#pics {
  display: none;
}
iframe {
  display: block;
  margin: 0 auto;
}
#YT {
  display: none;
  margin: 2em auto;
}
#twitter {
  display: none;
}
#FB-comments {
  display: none;
}
.artist-container {
  padding-left: 225px;
}
div#FB-comments {
  text-align: center;
}
.fb-comments.fb_iframe_widget {
  border: 1px solid rgba(34,34,34, 0.5);
  padding: 15px 50px;
  margin-top: 18px;
}

/************************************************************************************
Twitter Styling
************************************************************************************/

.twitter-timeline {
  width: 100% !important;
}
div#twitter-widget-0 {
  width: 50%;
  margin: 0 auto;
}

/************************************************************************************
Albums Styling
************************************************************************************/

/* Dropdown Toggle CSS styles*/
.accordion {
  border-top: 1px solid #c1c1c1;
}
.accordion h2 {
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
.accordion h2 span.smaller,
h1 span.smaller {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}
.accordion h2 span.album_title {
  font-weight: bold;
  font-size: 17px;
}
.accordion h2 .accordion_icon {
  float: right;
}
.accordion h2.active {
  background: #DBDBDB;
}
.accordion_content {
  margin: 0;
  padding: 15px;
  border-left: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
}

/************************************************************************************
Images Styling
************************************************************************************/
/* SLIDER */

#slide-container{
    overflow: hidden;
    height: 600px;
    margin-right: 20%;
    margin-top: -4%;
}
img.left-logo-img {
  height: 3em;
  position: absolute;
  top: -3px;
}
.carousel-control{
    width: 63px;
    background: black;
    height: 600px;
}
.carousel > div:not(.active){
    display: none;
}
.prev{
  margin-left: -30%;
}
.next{
  margin-right: -40%;
  margin-top: -41%;
}

.carousel{
    width: 80%;
    margin-top: -20%;
    margin-right: -18%;
}
#circles {
  list-style:none;
}
#circles li {
    display:inline-block;
    border-radius:15px;
    width:15px;
    height:15px;
    margin: 0 0 10px 10px;
    border:2px solid red;
    background: black;
    cursor:pointer;
}
#circles li.active {
    background:red;
    border:2px solid black;
}

/************************************************************************************
Search Form Styling
************************************************************************************/
.thumbnail {
  border-radius: 0;
  background-color: rgba(225, 225, 225,0.9);
}
.thumbnail h2 {
  color: #222;
}
.thumbnail a {
  color: black;
}
#search {
padding: 7px 0;
}
#search-results {
  margin: 5em 5em;
}
.search-top h1 {
  font-size: 6em;
  margin-top: 30px;
  margin-bottom: 0;
  color: white;
  text-shadow: 4px 4px 13px black;
}
.search-top p {
  text-align: center;
  margin-bottom: 0;
}
.search-top p img {
  max-height: 50px;
}
.artist-results {
  float: left;
  display: inline-block;
  width: 33%;
  margin-left: 8em;
}
.artist-results h1,
.artist-results h2 {
  text-align: center;
}
.artist-results img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}
.album-results {
  float: right;
  display: inline-block;
  width: 33%;
  margin-right: 8em;
}
.album-results h1,
.album-results h3 {
  text-align: center;
}
.thumbnail h3{
  margin-top: 0;
}
.search-container a:hover {
  color: white;
}
.artist-img-size img {
  max-height: 250px;
  margin: 10px 0;
}
article.artist-results.col-md-4 img {
  border-radius: 5px;
}
.search-field {
  display: inline;
  width: 60%;
}
.search-btn {
  display: inline-block;
}
input#search {
  padding-left: 12px;
}
div#shruggie {
  height: 150px;
  font-size: 5em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

/************************************************************************************
Contact
************************************************************************************/
.about-us-main {
  padding-right: 20px;
}
#contact-title {
  margin-top: 20px;
  font-size: 5em;
}
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 30px 0 30px 0;
  padding: 20px;
  min-height: 425px;
  background-size: 590px;
  font-size: 14px;
  color: black;
}
.about-me {
  color: black;
  padding: 40px 25px;
  font-size: 14px;
}
.row.color {
  margin: 23px 0;
}
.contact-heading {
  text-align: center;
  padding: 15px 0 20px 0;
  color: rgb(34, 34, 34);
}
.img-circle {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  vertical-align: middle;
  background: gray;
  border: 3px solid rgba(34, 34, 34, 0.8);
}
.marketing .btn {
  margin-top: 10px;
}

/************************************************************************************
Modal Styling
************************************************************************************/
.modal {
  margin-top: 6%;
  text-align: center;
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  background-color: rgba(157, 157, 157, 0.2);
  color: rgb(34, 34, 34);
}
.modal-footer {
  text-align: center;
  background-color: rgba(157, 157, 157, 0.2);
}
#shared-links,
.actions ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
#shared-links li,
.actions ul li {
  display: inline-block;
}
.actions ul li a {
  cursor: pointer;
  text-decoration: none;
}
#shared-links a:hover {
  color: black;
}
.btn {
  border-radius: 0;
}
.btn-default {
  background-color: rgba(192, 192, 192, 1);
  border-color: rgba(192, 192, 192, 1);
}
.create-btn {
  background-color: black;
  color: white;
}
.create-btn:active {
  color: rgba(192, 192, 192, 1);
}
.form-control {
  border-radius: 0;
}


