/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /************************************************************************************
 General Application Styling
 ************************************************************************************/
* {
  margin: 0;
  padding-top: 0;
}
ul {
  list-style: none;
  color: white;
}
ul li {
  display: inline-block;
}
img {
  height: 250px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
input[type="submit"] {
  color: black;
}

/************************************************************************************
Artist Styling
************************************************************************************/

/************************************************************************************
Devise Form Styling
************************************************************************************/

/************************************************************************************
Colors
************************************************************************************/

/************************************************************************************
Media Queries
************************************************************************************/













